---
layout: root
title: Web Development for Non-Techies
---

<h1 class="content-h1">Web development for non techies</h1>
<div class="content">
  <p>
    Learn about web development without learning to program!
  </p>

  <p>
    This course is aimed at people working with developers: project managers, recruiters and non-technical cofounders.<br>

    Instead of showing how technologies are used the course describes what the different technologies do and how they relate to each other.
  </p>
  <p>
    I started writing this course in November 2014. You can sign up for updates below.
  </p>

  <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{
    background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;
  }
  @media (max-width: 600px) {
    #mc_embed_signup {
      width: 100%;
    }
  }


  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//mostlystatic.us8.list-manage.com/subscribe/post?u=6e1d1f58acfc60f4eb4adce31&amp;id=65163bc007" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL">Free web development for non-techies updates:</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_6e1d1f58acfc60f4eb4adce31_65163bc007" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

  <div class="non-techies-toc">
    <h2>1. Introduction</h2>

    {% for post in site.pages %}
      {% if post.group == 'nontechies-1000'%}
          <a href="{{post.url}}" class="blog-post-link">
            {{post.title}}
          </a>
          <br style="clear:both">
      {% endif %}
    {% endfor %}

    <h2>2. HTML &amp; CSS</h2>
    {% for post in site.pages %}
      {% if post.group == 'nontechies-2000'%}
          <a href="{{post.url}}" class="blog-post-link">
            {{post.title}}
          </a>
          <br style="clear:both">
      {% endif %}
    {% endfor %}

  </div>
</div>


<br><br><br><br><br><br><br><br><br><br><br><br>
